
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
# 保留 settings.json / extensions.json（模板需要随仓库分发）
# 只排除个人私有文件
#//////////////////////////
.vscode/*.code-snippets
.vscode/launch.json

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/